/* CSS files add styling rules to your content */

/* CSS files add styling rules to your content */


body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
 }
 
 
 img {
  max-width: 100%;
  height: auto;
 }
 
 
 .fakeimg {
  height: 200px;
  background: #aaaaaa;
 }
 
 
 .bg-dark {
  background-color: #5b1995 !important;
 }
 
 
 .jumbotron {
  background-image: url("flower\ invaders.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: rgb(255, 255, 255);
 }
 